<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto text-center">
        <h5>Ala Travel Team</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li>Давид Трајковски 191027</li>
          <li>Хана Хасаницај 191511</li>
          <li>Александар Манов 191022</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
