<div xmlns:th="www.thymeleaf.org">
    <div class="container">
        <h2>Tour Details</h2>
        <div th:each="tour : ${detailsAboutTour}">
            <h4>Title: <span th:text="${tour.title}"></span></h4>
            <p>Description: <span th:text="${tour.description}"></span></p>
            <p>Duration: <span th:text="${tour.duration}"></span> hours</p>
            <p>Max Participants: <span th:text="${tour.maxnumberofparticipants}"></span></p>
            <p>City: <span th:text="${tour.city_name}"></span></p>
            <p>Tour Guide: <span th:text="${tour.guide_description}"></span></p>
            <hr>
            <div>
                <a th:href="@{/tourInstancesForTourController/view1/{tourId} (tourId=${tour.id})}">View Tour Instances</a>
            </div>
        </div>
    </div>

</div>