<div xmlns:th="http://www.thymeleaf.org">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${top10CitiesWithMostTours.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">City name</th>
                            <th scope="col">Number of tours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj : ${top10CitiesWithMostTours}" class="product">
                            <td th:text="${obj.city_name}"></td>
                            <td th:text="${obj.number_of_tours}"></td>
                            <td class="text-right">
                                <th:block >
                                    <a th:href="@{'/city/{id}' (id=${obj.city_id})}"
                                       class="btn btn-sm btn-info ">
                                        <i class="fa fa-trash">Details</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

