<div xmlns:th="www.thymeleaf.org">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${top10CitiesWithMostTours.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">City ID</th>
                            <th scope="col">City Name</th>
                            <th scope="col">Number of Tours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj : ${top10CitiesWithMostTours}" class="product">
                            <td th:text="${obj.city_id}"></td>
                            <td th:text="${obj.city_name}"></td>
                            <td th:text="${obj.number_of_tours}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
