
    <style>
        #loginButton {
            visibility: hidden;
        }
        .container-custom {
            display: flex;
        }
        .card {
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .tourGuideTours {
            width: 50%;
            float: left;
            overflow-y: auto;
            height: 500px;
            overflow-x: hidden;
            margin-right: 15px;
            padding: 20px;
        }
        .bookingsForTourguide {
            width: 50%;
            float: right;
            overflow-y: auto;
            overflow-x: hidden;
            height: 500px;
            margin-left: 15px;
            padding: 20px;
        }
        .card {
            width: 70%;
        }
        .ala-travel {
            color: #FF5A5F;
        }
        a:hover {
            color: #FF5A5F;
        }
        .booking-container {
            margin-top: 50px;
            justify-content: center;
            align-items: center;
        }
        .bookingsForTourist {
            width: 80%;
            overflow-y: auto;
            overflow-x: hidden;
            height: 500px;
        }
    </style>
    <script type="text/javascript">
        function login(person_id, is_tour_guide, message) {
            localStorage.setItem('personId', person_id);
            localStorage.setItem('isTourGuide', is_tour_guide);
            localStorage.setItem('message', message);
        }

        window.onload = function() {
            var button = document.getElementById('loginButton');
            button.click();
        }

        const personId = localStorage.getItem('personId');
        const isTourGuide = localStorage.getItem('isTourGuide');
        const message = localStorage.getItem('message');


    </script>

<body>
<button id="loginButton" th:attr="data-person-id=${personId}, data-is-tour-guide=${isTourGuide}, data-message=${message}" onclick="login(this.getAttribute('data-person-id'), this.getAttribute('data-is-tour-guide'), this.getAttribute('data-message'))">Click me</button>

<div xmlns:th="www.thymeleaf.org">

    <div class="container container-custom">

        <div class="tourGuideTours ">
            <div>
                <h2>My Tours</h2>
            </div>
            <div class="row " th:each="obj : ${tourGuideTours}">
                <div class="col" >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title ala-travel">
                                <a class="ala-travel" th:href="@{/detailsAboutTourController/view1(tour_name=${obj.title})}" th:text="${obj.title}"></a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bookingsForTourguide">
            <div>
                <h2>Bookings</h2>
            </div>
            <div class="row " th:each="obj : ${bookingsForTourguide}">
                <div class="col" >
                    <div class="card">
                        <div class="card-body">
                            <a class="ala-travel" >
                                <h5 class="card-title ala-travel" th:text="${obj.title}"></h5>
                            </a>
                            <p class="card-text">City: <span th:text="${obj.city_name}"></span></p>
                            <p class="card-text">From: <span th:text="${obj.tourist_email}"></span></p>
                            <p class="card-text">Participants: <span th:text="${obj.number_of_participants}"></span></p>
                            <p class="card-text">Time: <span th:text="${obj.ti_time}"></span></p>
                            <p class="card-text">Date: <span th:text="${obj.ti_date}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


</body>
</html>
